
body {
    background-color:black;
    color: white;   
}

a:link {
    color: orange;
}

a:visited {
    color:orange;
}

#listing {
    text-align: center;
}

/* INDEX.HTML */

#manopaper {
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#welcome {
    padding-top: 10px;
    text-align: center; 
    color: red;
    font-size: 38px;
    
}

h1#boucles {
    padding-top: 10px;
    text-align: center;
    
}

#clip {
    width: 620px;
    max-height: 378px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;    
}

h1#gourou {
    text-align: center;
    padding-top: 50px;
}

/* BOUCLES.HTML */

#resume {
    text-align: center;
    line-height: 60px;
    padding-top: 20px;
    font-size: 20px;
    overflow-wrap: break-word;
}

footer {
    text-align: center;
    padding-top: 20px;
}

.jaune {
    color: yellow;
}
