body {
    background-color:black;
    color: white;   
    font-family: Arial, Helvetica, sans-serif;
}

/* .deroulant:hover {
    background-color: none;
}

.deroulant > a::after{
    content: "▼";
    font-size: 30px;
}



.deroulant:hover .sousmenu {
    display: block;
}

ul .sousmenu {
    line-height: 30px;
    
} */
#sousmenu {
    background-color: none;
    min-width: 50px;
    position: absolute;
}
#deroulant {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;;
}
.toggle {
    display: none;
}

#logo {
    width: 300px;
    margin: auto;
}


header nav ul li {
    display: block;
    float: left;
                   
}

header nav ul li a {
    text-transform: uppercase;
    margin-right: 20px;
}


a {
    text-decoration: none;
   }



#browse a {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

a:link {
    color: #006900;
}

a:visited {
    color:#006900;
}

/* INDEX.HTML */

#manopaper {
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    display: block; 
    padding-top: 50px;  

}

#welcome {
    padding-top: 10px;
    text-align: center; 
    color: red;
    font-size: 38px;
    
}

h1#boucles {
    padding-top: 10px;
    text-align: center;
    
}

#clip {
    width: 620px;
    max-height: 378px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;    
}

h1#gourou {
    text-align: center;
    padding-top: 50px;
}

/* BOUCLES.HTML */

#resume {
    text-align: center;
    line-height: 60px;
    padding-top: 20px;
    font-size: 20px;
    overflow-wrap: break-word;
}

footer {
    text-align: center;
    padding-top: 20px;
}

#listing {
    text-align: center;
    color: red;
}

/* PREDICTIONS.HTML */
#blocprediction {
    width: 100%;
    min-width: 70px;
    max-width: 900px;
    margin: 200px auto;
}

#predict {
    font-size: 35px;
    text-align: center;
    width: 900px;
    height: 100px;
    background-color: blue;
    padding-top: 50px;
    
}

#blocbouton {
    text-align: center;
    
}

#boutonpredict {
    width: 200px;
    height: 50px;
    border: 2px solid red;
    font-size: 25px;
    margin-top: 10px;
}




/* LES-VERTS.HTML */

h1.lesverts {
    color: green;
}

/* LOS-VAGOS.HTML */

h1.losvagos {
    color: yellow;
}

/* POLICE.HTML */

h1.flics {
    color: blue;
}

